<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :url %>
    <%= f.input :title %>
    <%= f.input :excerpt %>
    <%= f.association :author %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
