<section>
  <nav>
    <% if user_signed_in? %>
      <%= current_user.name %> |
      <%= link_to t('home'), root_path %> |
      <%= link_to t('dashboard'), user_root_path %> |
      <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to t('home'), root_path %> |
      <%= link_to t('sign_in'), new_user_session_path %>
    <% end %>
  </nav>
</section>
